// Microsoft Visual C++ generated resource script.
//

#include "resource.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 172, 97
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0
BEGIN
    GROUPBOX        "Thread Performance Test",IDC_STATIC,4,0,164,93
    EDITTEXT        IDC_THREADS,102,18,44,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_MESSAGES,102,40,44,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Number of threads",IDC_STATIC,15,20,73,10
    LTEXT           "Number of test messages",IDC_STATIC,16,42,85,11
    PUSHBUTTON      "OK",IDOK,25,70,41,15
    PUSHBUTTON      "Cancel",IDCANCEL,103,68,44,16
END


