// Microsoft Visual C++ generated resource script.
//

#include "windows.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       24      DISCARDABLE      "res/DevWin++.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ID_MAIN                 ICON                    "res/Dialog.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 310, 178
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "DlgSubclass sample  with Hyperlink and Subclassed Button"
FONT 8, "MS Shell Dlg", 0, 0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,241,153,50,16
    CONTROL         "Radio1",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,30,24,38,
                    10
    CONTROL         "Radio2",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,30,36,38,
                    10
    CONTROL         "Radio3",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,30,48,38,
                    10
    CONTROL         "Check Box 1",IDC_CHECK1,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,30,114,55,10
    CONTROL         "Check Box 2",IDC_CHECK2,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,30,126,55,10
    CONTROL         "Check Box 3",IDC_CHECK3,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,30,139,55,10
    LISTBOX         IDC_LIST1,120,23,84,35,LBS_SORT | LBS_NOINTEGRALHEIGHT |
                    NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP,WS_EX_STATICEDGE
    PUSHBUTTON      "Button",IDC_BUTTON1,30,82,49,11
    CONTROL         "",IDC_RICHEDIT1,"RICHEDIT",ES_MULTILINE |
                    ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP,120,86,84,35
    GROUPBOX        "Static Window",IDC_STATIC2,226,78,78,51,BS_CENTER
    LTEXT           "Actions are displayed here",IDC_STATIC3,229,91,71,35
    PUSHBUTTON      "Subclassed Button",IDC_BUTTON2,220,15,81,45
    LTEXT           "http://users.bigpond.net.au/programming/",
                    IDC_STATIC4,25,160,149,11
END


