// Microsoft Visual C++ generated resource script.
//

#include "windows.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "res/Win32++.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDW_MAIN MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "New &Browser",                IDM_FILE_NEWBROWSER
        MENUITEM "New &Rectangle",              IDM_FILE_NEWRECT
        MENUITEM "New &Text",                   IDM_FILE_NEWTEXT
        MENUITEM "New TreeView",                IDM_FILE_NEWTREE
        MENUITEM "New ListView",                IDM_FILE_NEWLIST
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Tool Bar",                   IDW_VIEW_TOOLBAR, CHECKED
        MENUITEM "&Status Bar",                 IDW_VIEW_STATUSBAR, CHECKED
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "MDI Tabs at Top",             IDM_TABBEDMDI_TOP, CHECKED
        MENUITEM "Container Tabs at Top",       IDM_CONTAINER_TOP, CHECKED
    END
    POPUP "&Layout"
    BEGIN
        MENUITEM "&Default Layout",             IDM_LAYOUT_DEFAULT
        MENUITEM "Close All &Containers",       IDM_LAYOUT_CLOSE_DOCKERS
        MENUITEM "Close All &MDI Children",     IDM_LAYOUT_CLOSE_MDIS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      IDM_HELP_ABOUT
    END
END

IDM_NEWMENU MENU 
BEGIN
    POPUP "New"
    BEGIN
        MENUITEM "New &Browser",                IDM_FILE_NEWBROWSER
        MENUITEM "New &Rectangle",              IDM_FILE_NEWRECT
        MENUITEM "New &Text",                   IDM_FILE_NEWTEXT
        MENUITEM "New TreeView",                IDM_FILE_NEWTREE
        MENUITEM "New ListView",                IDM_FILE_NEWLIST
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDW_MAIN                ICON                    "res/Docking.ico"
IDI_BROWSER             ICON                    "res/Globe.ico"
IDI_CLASSVIEW           ICON                    "res/classview.ico"
IDI_FILEVIEW            ICON                    "res/fileview.ico"
IDI_RECT                ICON                    "res/rect.ico"
IDI_TEXT                ICON                    "res/text.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDW_MAIN                BITMAP                  "res/toolbar.bmp"
IDW_SDBOTTOM            BITMAP                  "res/SDbottom.bmp"
IDW_SDCENTER            BITMAP                  "res/SDcenter.bmp"
IDW_SDLEFT              BITMAP                  "res/SDleft.bmp"
IDW_SDMIDDLE            BITMAP                  "res/SDmiddle.bmp"
IDW_SDRIGHT             BITMAP                  "res/SDright.bmp"
IDW_SDTOP               BITMAP                  "res/SDtop.bmp"
IDB_CLASSVIEW           BITMAP                  "res/classview.bmp"
IDB_FILEVIEW            BITMAP                  "res/fileview.bmp"
IDB_STATUS              BITMAP                  "res/status.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDW_SPLITH              CURSOR                  "res/SplitH.cur"
IDW_SPLITV              CURSOR                  "res/SplitV.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDW_ABOUT DIALOGEX 0, 0, 186, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,68,49,50,14
    CTEXT           "Docking Tabbed MDI Application",IDC_STATIC,60,22,64,17
    ICON            IDW_MAIN,0,4,4,20,20
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDW_MAIN ACCELERATORS 
BEGIN
    "N",            IDM_FILE_NEW,           VIRTKEY, CONTROL, NOINVERT
    "O",            IDM_FILE_OPEN,          VIRTKEY, CONTROL, NOINVERT
    "P",            IDM_FILE_PRINT,         VIRTKEY, CONTROL, NOINVERT
    "S",            IDM_FILE_SAVE,          VIRTKEY, CONTROL, NOINVERT
    "C",            IDM_EDIT_COPY,          VIRTKEY, CONTROL, NOINVERT
    "X",            IDM_EDIT_CUT,           VIRTKEY, CONTROL, NOINVERT
    "V",            IDM_EDIT_PASTE,         VIRTKEY, CONTROL, NOINVERT
    "Z",            IDM_EDIT_UNDO,          VIRTKEY, CONTROL, NOINVERT
    "Z",            IDM_EDIT_REDO,          VIRTKEY, SHIFT, CONTROL, 
                                                    NOINVERT
    VK_DELETE,      IDM_EDIT_DELETE,        VIRTKEY, NOINVERT
END





/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDW_MAIN                "Tabbed MDI"
    IDW_VIEW_TOOLBAR        "Show or hide the tool bar"
    IDW_VIEW_STATUSBAR      "Show or hide the status bar"
END

STRINGTABLE 
BEGIN
    IDM_FILE_NEW            "Create a New Document"
    IDM_FILE_OPEN           "Open Existing Document"
    IDM_FILE_SAVE           "Save the Document"
    IDM_FILE_SAVEAS         "Save the Document with a new name"
    IDM_FILE_PRINT          "Print the Document"
    IDM_FILE_EXIT           "End the Program"
    IDM_EDIT_UNDO           "Undo the last action"
    IDM_EDIT_REDO           "Redo the previously undone action"
END

STRINGTABLE 
BEGIN
    IDM_FILE_NEWBROWSER     "Create Browser MDI Child"
    IDM_FILE_NEWRECT        "Create Rect MDI Child"
    IDM_FILE_NEWTEXT        "Create Text MDI Child"
END

STRINGTABLE 
BEGIN
    IDM_FILE_NEWTREE        "Create Tree-View MDI Child"
    IDM_FILE_NEWLIST        "Create List-View MDI Child"
    IDM_CONTAINER_TOP       "Place Tabs at the top of the containers"
    IDM_TABBEDMDI_TOP       "Place Tabs at the top of the MDITab"
    IDM_LAYOUT_DEFAULT      "Restore default dock layout"
    IDM_LAYOUT_CLOSE_DOCKERS "Close all docked and undocked windows"
    IDM_LAYOUT_CLOSE_MDIS   "Close all MDI Children"
END

STRINGTABLE 
BEGIN
    IDM_EDIT_CUT            "Cut the Selected Contents to the Clipboard"
    IDM_EDIT_COPY           "Copy the Selected Contents to the Clipboard"
    IDM_EDIT_PASTE          "Paste the Clipboard Contents to the Document"
    IDM_EDIT_DELETE         "Erase the selected Contents"
    IDM_HELP_ABOUT          "Display Information about this program"
END

STRINGTABLE 
BEGIN
    IDW_FIRSTCHILD          "Activate this window"
    IDW_CHILD2              "Activate this window"
    IDW_CHILD3              "Activate this window"
    IDW_CHILD4              "Activate this window"
    IDW_CHILD5              "Activate this window"
    IDW_CHILD6              "Activate this window"
    IDW_CHILD7              "Activate this window"
    IDW_CHILD8              "Activate this window"
    IDW_CHILD9              "Activate this window"
    IDW_CHILD10             "Select a window"
END

STRINGTABLE 
BEGIN
    61536                   "Close the Window"
END

STRINGTABLE 
BEGIN
    61488                   "Maximize the Window"
END

STRINGTABLE 
BEGIN
    61472                   "Minimize the WIndow"
END

STRINGTABLE 
BEGIN
    61456                   "Move the Window"
END

STRINGTABLE 
BEGIN
    61504                   "Select Next Window"
END

STRINGTABLE 
BEGIN
    61520                   "Select Previous Window"
END

STRINGTABLE 
BEGIN
    61728                   "Restore the Window"
END

STRINGTABLE 
BEGIN
    61440                   "Resize the Window"
END



